/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  font-size: 36px;
  line-height: 46.87px;
  font-weight: 400;
}

h2 {
  color: #d3573c;
  font-weight: 400;
  line-height: 48.87px;
  font-size: 36px;
  text-align: center;
}

h3 {
  color: #901c1c;
  font-weight: 400;
  line-height: 16.93px;
  font-size: 13px;
  text-align: center;
}

.openContact {
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  border-style: none;
  width: 170px;
  height: 65px;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  font-weight: 500;
  cursor: pointer;
}

.fa-heart {
  color: #901c1c;
  font-size: 20px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainWrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a:link {
  text-decoration: none;
}

header {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__fe {
  height: 100%;
  width: 100%;
}

.navigation__tag {
  color: #901c1c;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid #c4c4c4;
  height: 22px;
  background-color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.62px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.3rem;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}

@media screen and (max-width: 1134px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 1rem;
    padding-left: 4rem;
  }
  .bannerTitle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 24px;
    padding-right: 4rem;
  }
  .navigation {
    padding-top: 2rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 714px) {
  header {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation__tag {
    margin-top: 0.3rem;
  }
  .bannerTitle {
    padding-right: 0;
  }
}

@media screen and (max-width: 568px) {
  .logo__fe {
    height: 70%;
    width: 70%;
  }
  .bannerTitle {
    padding-right: 0;
    font-size: 14px;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 358px;
}

.user__name {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.user--description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user--tag {
  padding-bottom: 3rem;
}

.user__city {
  padding-bottom: 0.3rem;
}

.user__citation {
  font-weight: 400;
  line-height: 13, 02px;
  font-size: 10px;
  text-align: center;
  padding-bottom: 0.3rem;
}

.user__price {
  color: #757575;
  font-weight: 400;
  font-size: 9px;
  line-height: 11, 72px;
  text-align: center;
  padding-bottom: 0.3rem;
}

.userImg {
  height: 100%;
  width: 100%;
}

.userImg__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-object-position: center 60%;
     object-position: center 60%;
}

.link {
  cursor: pointer;
}

.userWrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 6rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.banner h1 {
  color: #d3573c;
  font-size: 64px;
  line-height: 83px;
}

.userPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.userPage--detail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userPage--contact {
  padding-left: 6rem;
  padding-top: 0.5rem;
}

.userPage--description {
  text-align: start;
}

.userPage__city {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: start;
  padding-bottom: 1rem;
}

.userPage__citation {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #525252;
}

.userPage__tag {
  padding-top: 1rem;
}

.userDetailImg {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.userDetailImg__img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-object-position: center 60%;
     object-position: center 60%;
}

.imgMin {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.photo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

video {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.userHeader {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
  padding-left: 6rem;
  padding-right: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picDescription {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  width: calc(100% - 20%);
}

.sortBy {
  padding-top: 3rem;
}

.sortBy__text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.tri {
  border: #777 1px solid;
  margin: 0 0 1.5em 0;
  overflow: hidden;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.photoSection {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.video {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 350px;
  height: 350px;
}

.footerPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.likeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  cursor: pointer;
}

.nbLike {
  padding-right: 0.3rem;
  color: #901c1c;
  font-weight: 500;
  font-size: 24px;
}

.contactSection {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 31.25px;
}

.contactSection--like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-right: 3rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contactSection i {
  padding-left: 0.5rem;
  color: black;
}

.bground {
  background-color: #db8876;
  padding: 2rem 2rem 2rem 2rem;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 5px;
  display: none;
}

.modal-title {
  font-weight: 400;
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

.formData {
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
  color: #312e2e;
  padding-top: 1rem;
}

.text-control {
  border-radius: 5px;
  width: 100%;
  height: 32px;
  font-size: 18px;
  background-color: white;
  border-style: none;
}

.text-control__message {
  height: 64px;
}

.btn-submit {
  background-color: #901c1c;
  color: white;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-style: none;
  border-radius: 5px;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 1rem;
}

.close {
  position: absolute;
  right: 10px;
  top: 35px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fefefe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fefefe;
  max-height: 100%;
  margin: 3rem;
  vertical-align: middle;
}

.closeModal {
  color: #901c1c;
  font-size: 55px;
  font-weight: bold;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  max-height: 0px;
}

.closeModal:hover,
.closeModal:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mySlides img,
.mySlides video {
  width: auto;
  height: auto;
  max-height: 700px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 40%;
  padding: 1rem;
  color: #901c1c;
  font-weight: bold;
  font-size: 30px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  -webkit-transform: translate(40%);
          transform: translate(40%);
  border-radius: 0 5px 5px 0;
}

.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.slideTitle {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  padding-top: 1rem;
}

@media screen and (max-width: 1134px) {
  .logo {
    padding: 0;
  }
  .userPage--contact {
    position: fixed;
    left: 50%;
    margin-left: -85px;
    bottom: 5%;
    padding: 0;
  }
  .openContact {
    height: 40px;
  }
}

@media screen and (max-width: 1019px) {
  .userWrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .photo {
    width: 100%;
  }
  .video {
    width: 100%;
  }
  .imgMin {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .banner h1 {
    width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .userDetailImg {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    padding-top: 1rem;
  }
  .userDetailImg__img {
    width: 130px;
    height: 130px;
  }
  .banner h1 {
    width: auto;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 671px) {
  .userDetailImg__img {
    width: 100px;
    height: 100px;
  }
  .banner h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 490px) {
  .banner h1 {
    font-size: 20px;
  }
  .contactSection {
    display: none;
  }
  .userPage__city {
    font-size: 18px;
  }
  .userPage__citation {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */