.navigation {
  &__tag {
    color: $bordeaux;
    border-radius: 11px;
    box-sizing: border-box;
    border: 0.5px solid #c4c4c4;
    height: 22px;
    background-color: white;
    @include colorTag;
  }
}

.openContact {
  background-color: $bordeaux;
  color: white;
  border-radius: 5px;
  border-style: none;
  width: 170px;
  height: 65px;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  font-weight: 500;
}
