.openContact {
  background-color: $bordeaux;
  color: white;
  border-radius: 5px;
  border-style: none;
  width: 170px;
  height: 65px;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  font-weight: 500;
  cursor: pointer;
}

.fa-heart {
  color: $bordeaux;
  font-size: 20px;
}
