header {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  align-items: center;
}

.logo {
  height: 15%;
  width: 15%;
  &__fe {
    height: 100%;
    width: 100%;
  }
}
