.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user {
  display: block;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 358px;

  &__name {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &--description {
    flex-direction: column;
  }

  &--tag {
    padding-bottom: 3rem;
  }

  &__city {
    padding-bottom: 0.3rem;
  }

  &__citation {
    font-weight: 400;
    line-height: 13, 02px;
    font-size: 10px;
    text-align: center;
    padding-bottom: 0.3rem;
  }

  &__price {
    color: $grey;
    font-weight: 400;
    font-size: 9px;
    line-height: 11, 72px;
    text-align: center;
    padding-bottom: 0.3rem;
  }
}

.userImg {
  height: 100%;
  width: 100%;
  &__img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    object-position: center 60%;
  }
}

.link {
  cursor: pointer;
}